<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img class="rounded-circle z-depth-2" alt="100x100" width="30" height="30" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
  data-holder-rendered="true">
  <a class="navbar-brand px-1" href="#">Caf&eacute; Le&oacute;n</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Productos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Claro club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Crea tu combo</a>
      </li>
    </ul>
  </div>
</nav>
